body{
  width: 100%;
  height: 100%;
  background: linear-gradient(white, #EED58E);
}
.div{
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  width: 900px;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  margin-left: 15%;
}
  header{
    padding-left: 52px;
    padding-right: 60px;
  }
  header h1{
    text-align: left;
    color:orange ;
    text-shadow: 2px 2px black;
    font-size: 46px;
    }
  header img{
    float: left ;
  }
  header p{
    text-align: center;
    font-size: 22px;
  }
  .transition{
  width: 100%;
  height: 10px;
  background: red;
  transition: width 3s;
  }
  .transition header div:hover{
    width: 300px;
  }
  hr{
   width:90%;
   size: 5px;
   border: 1px solid orange;
  }
  main{
    margin-left: 52px;
    margin-right: 20px;
  }
  main h2{
    font-size: 40px;
  }
  main ul li{
    font-size: 25px;
  }
  main a:hover{
  color: red;
  }
  main h3{
    font-size: 35px;
  }
  main p{
    font-size: 25px;
  }
  footer{
    padding-bottom: 20px;
    padding-left: 15%;
    display: flex;
  }
  footer p{
    font-size: 25px;
    }
  footer span{
   font-size: 25px;
    }
   
  