@media only screen and (max-width: 768px){
  body{
    background: linear-gradient(white,#FA8DDA );
  }
  .div{
    margin-left: 38px;
    }
  
  header h1{
    font-size: 28px;
    text-align: left;
  }
  header img{
    width: 80px;
    height: 40px;
  }
  header p{
    text-align: center;
    font-size: 17px;
  }
  hr{
    size: 3px;
    width: 70%;
  }
  main{
    margin-left: 15%;
  }
  main h2{
    font-size: 25px;
  }
  main ul li{
    font-size: 13px;
  }

  main h3{
    font-size:20px;
  }
  main p{
    font-size: 13px;
  }
  /* responsive for footer */
  footer{
    display: flex;
    padding-left: 20%;

  }
  footer p{
    font-size:15px;
  }
  footer span{
   font-size:15px;
  }
}

